page-home {

  background: white;

  .slide-zoom {
    background: #e6e6e6;
  }

  .thumb-img {
    padding: 10px;
  }


  .card-options {
    font-size: 2.3rem;
  }

  .image {
    position: relative;
    width: 100%;
  }

  .image-heart {
    position: absolute;
    top: 0px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
  }

  .button-large-md{
    font-size: 1.4rem !important;
  }

}
